body{
    background-color: #c7d9df0d;
}
.carsul{
  cursor: pointer;
}
.navbar-brand {
  font-size: xx-large;
}
.container-fluid{
  padding-top: 4px;
  padding-bottom: 4px;
}
.nav-item{
  font-size: 20px;
}