<body>
    <nav class="navbar-expand-lg navbar" style="background-color:rgba(149, 206, 209, 0.432)">
        <div class="container-fluid ">
            <a class="navbar-brand " href="#">E-COM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/">Home</a>
                    </li>
                    <li>
                        <form class="d-flex">
                            <input style="background-color: aliceblue; margin-top: 4px;" class="form-control me-2" type="search"
                                placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" style="margin-top: 4px" type="submit">Search</button>
                        </form>
                    </li>

                </ul>
                <div [ngSwitch]="menuType">
                    <ul class="d-flex navbar-nav" *ngSwitchCase="'default'">
                        <li class="nav-item"><a class="seller nav-link active" routerLink="/register">Seller</a></li>
                        <li class="nav-item"><a class="nav-link active" routerLink="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link active" routerLink="/my-order">my-order</a></li>
                    </ul>

                    <ul class="d-flex navbar-nav" *ngSwitchCase="'user'">
                        <li class="nav-item"><a class="nav-link active">{{userName | titlecase}}</a></li>
                        <li class="nav-item"><a class="nav-link active" routerLink="/my-order">My Orders</a></li>
                        <li class="nav-item"><a class="nav-link active carsul" (click)="userLogout()">Logout</a></li>
                    </ul>
                </div>

                <li class="nav-link active">
                    <button class="btn btn-light" routerLink="/addtocart">
                        <i style="font-size: 30px;" class="fas fa-cart-plus">{{cartItems}}</i>
                        <div style="font-size: 20px; color:#000;" class="badge bg-dark"></div>
                    </button>
                </li>
            </div>
        </div>
    </nav>
</body>