.product-details {
    margin-top: 50px;
    margin-bottom: 80px;
}
button {
    background-color: hsl(165, 24%, 49%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}
.button1{
    font-size: 8px;
   
}
.quantity-group{
    margin-top: 20px;
}
.quantity-group button{
    padding: 10px;
}
.quantity-group input{
   width: 100px;
   padding: 5px;
   margin-left: 4px;
   margin-right: 4px;
}
.button2{
    margin-left: 4px;
}